cluster_name        = "internes-eventmanagement"
location            = "ash"
server_type         = "cpx21"
ssh_public_key      = "ssh-ed25519 REPLACE_ME"
ssh_allowed_cidrs   = ["0.0.0.0/0", "::/0"]
kube_api_allowed_cidrs = ["0.0.0.0/0", "::/0"]
